<nav class="teal lighten-1" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="{{ "/" | prepend: site.baseurl }}" class="brand-logo">System Tester</a>
    <ul class="right hide-on-med-and-down">
      <li class="{% if page.url == '/getting-started/' %}active{% endif %}"><a href="{{ "/getting-started/" | prepend: site.baseurl }}">Getting Started</a></li>
      <li class="{% if page.url == '/contact/' %}active{% endif %}"><a href="{{ "/contact/" | prepend: site.baseurl }}">Contact</a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li {% if page.url == '/getting-started/' %}active{% endif %}><a href="{{ "/getting-started/" | prepend: site.baseurl }}">Getting Started</a></li>
      <li {% if page.url == '/contact/' %}active{% endif %}><a href="{{ "/contact/" | prepend: site.baseurl }}">Contact</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>